<main>
  <div class="login-container">
    <div class="welcome-msg">
      <h1>Welcome Back!</h1>
    </div>
    <div class="clg-logo">
      <img
        src="https://bip.bitsathy.ac.in/images/login-logo-dark-mode.png"
        alt="College logo"
      />
    </div>
    <div class="google-sign"></div>
    <div class="Website-name">
      <h2>Invigilation Duty Automation</h2>
    </div>

    <div
      id="g_id_onload"
      data-client_id="294029378032-mg2nuhia5mdoe2njnt8otuirop1c4hiq.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="http://localhost:3000/login"
      data-auto_prompt="false"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_blue"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left"
    ></div>

    <div class="sign">
      <p>Sign in with your BIT account</p>
    </div>
  </div>
</main>
